<div id="grid-container">
  <div>
    <div v-for="(row, rowIndex) in chessBoard" :key="rowIndex">
      <div
        v-for="(cell, columnIndex) in row"
        :key="rowIndex + columnIndex"
        class="grid-cell"
        :id="'grid-cell-' + rowIndex + '-' + columnIndex"
      ></div>
    </div>

    <div v-for="(row, rowIndex) in chessBoard" :key="rowIndex">
      <div v-for="(cell, columnIndex) in row" :key="columnIndex">
        <span
          class="number-cell"
          :id="'number-cell-' + rowIndex + '-' + columnIndex"
          v-show="shouldShowCell(rowIndex, columnIndex)"
          v-text="cell"
        ></span>
      </div>
    </div>
  </div>
</div>
